{% extends 'layout/base_layout.html' %} {% block links %}
<style>
  p {
    color: blue;
  }
  .d-block {
    display: block !important;
  }
</style>

{% endblock %} {% block content %}
<div class="container py-4">
  <!-- <div class="col-12">
            <div class="alert alert-danger">

            </div>
        </div> -->
  <form
    action="{% url 'posts:submit_edit_post' post.id %}"
    enctype="multipart/form-data"
    method="post"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <h3 class="font-weight-bold">Edit Post: {{post.title}}</h3>
        <small class="mt-3 text-muted">Fill all the fields in the form</small>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            value="{{ post.title}}"
            name="title"
            class="form-control"
            id="title"
          />
          <div class="invalid-feadback d-block">{{ form.title.errors}}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input
            type="text"
            value="{{ post.subject}}"
            name="subject"
            class="form-control"
            id="subject"
          />
          <div class="invalid-feadback d-block">{{ form.subject.errors}}</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label for="fileimage" class="form-label"
            >Add Image {{ post.main_image}}</label
          >
          <input
            class="form-control"
            value="{{ post.main_image}}"
            name="main_image"
            type="file"
            id="fileimage"
          />
          <div class="invalid-feadback d-block">
            {{ form.main_image.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
            rows="13"
          >
 
{{ post.description }}</textarea
          >
          <div class="invalid-feadback d-block">
            {{ form.description.errors}}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <input
            class="btn btn-outline-success w-100"
            type="submit"
            value="Submit"
          />
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
